/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  padding-top: 200px;
  text-align: center;
}

button{
  margin: 20px 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
