/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.card-container{
  display: flex;
  text-align: center;
}

.card-child{
  flex-grow: 1;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
